<%
   variant = @variant = product if product.present? && product.instance_of?(Spree::Variant)
   @product = product if product.present? && product.instance_of?(Spree::Product)
%>

<% if @product.present? %>
    <% if @product.price_in(current_currency) and !@product.price.nil? %>
        <div data-hook="product_price" class="col-md-12">
          <div id="product-price">
            <div>
            <span class="lead selling" itemprop="price">
              <%= display_price_level(@product) %>
            </span>
              <span itemprop="priceCurrency" content="<%= @product.currency %>"></span>
            </div>

            <% if @product.master.can_supply? %>
                <link itemprop="availability" href="https://schema.org/InStock"/>
            <% elsif @product.variants.empty? %>
                <br/>
                <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
            <% end %>
          </div>

          <div class="add-to-cart">
            <div class="input-group">
              <%= hidden_field_tag :quantity, 1, :class => 'title form-control', :min => 1 %>
              <span class="input-group-btn">
            <%= button_tag :class => 'btn btn-success', :id => 'add-to-cart-button', :type => :submit do %>
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                    <%= Spree.t(:add_to_cart) %>
            <% end %>
            </span>
            </div>
          </div>
        </div>
    <% else %>
        <div id="product-price">
          <br>
          <div>
            <span class="selling" itemprop="price"><%= Spree.t('product_not_available_in_this_currency') %></span>
          </div>
        </div>
    <% end %>
<% elsif variant.present? %>
    <div data-hook="product_price" class="col-md-12">
      <div id="product-price">
        <div>
            <span class="lead selling" itemprop="price">
              <%= display_price_level(variant) %>
            </span>
          <span itemprop="priceCurrency" content="<%= variant.currency %>"></span>
        </div>
      </div>

      <div class="add-to-cart">
        <div class="input-group">
          <%= hidden_field_tag :quantity, 1, :class => 'title form-control', :min => 1 %>
          <span class="input-group-btn">
            <%= button_tag :class => 'btn btn-success', :id => 'add-to-cart-button', :type => :submit do %>
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                <%= Spree.t(:add_to_cart) %>
            <% end %>
            </span>
        </div>
      </div>
    </div>
<% elsif variant.empty? %>
    <br/>
    <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
<% end %>