<% product = @product = @products.first if @products.present? && @products.any? %>
<div class="rsidebar_product_selected">
  <div class="panel panel-default text-center">
    <div class="panel-heading text-center">
      <h4><%= Spree.t(:current_selection) %></h4>
    </div>
      <% if product %>
          <%#= image_tag product.images.first.attachment.url #%>
          <% url = spree.product_url(product, taxon_id: @taxon.try(:id)) %>
          <div id="product_<%= product.id %>" class="product-list-item" data-hook="products_list_item" itemscope itemtype="https://schema.org/Product">
            <div class="panel-body text-center product-body">
              <%= link_to small_image(product, itemprop: "image"), url, itemprop: 'url' %><br/>
              <%= link_to truncate(product.name, length: 50), url, class: 'info', itemprop: "name", title: product.name %>
            </div>
            <div class="panel-footer text-center">
              <span itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                <div id="cart-form" data-hook="cart_form">
                  <%= render :partial => 'spree/products/add_to_cart_form_for_product_or_variant', locals: {product: product} %>
                </div>
              </span>
            </div>
          </div>
      <% else %>
          <div class="product-list-item">
            <h4><%= Spree.t(:product_no_selected) %></h4>
          </div>
      <% end %>
    </div>
</div>