<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Our Service</title>
  <link rel="stylesheet" type="text/css" href="/assets/normalize.css">
  <link rel="stylesheet" type="text/css" href="/assets/webflow.css">
  <link rel="stylesheet" type="text/css" href="/assets/roofingmadeeasy.webflow.css">
  <link rel="stylesheet" type="text/css" href="/assets/summary.css.scss">
  <link type="text/css" rel="stylesheet" href="/assets/featherlight.min.css" title="Featherlight Styles" />
  <link type="text/css" rel="stylesheet" href="/assets/featherlight.gallery.min.css" title="Featherlight Styles" />
  <link rel="stylesheet" type="text/css" href="/assets/jquery.timmer.css">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/New icon.ico">
  <link rel="apple-touch-icon" href="/assets/metric-webclip.png">

  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  
  <script>
    WebFont.load({
      google: {
        families: ["PT Sans:400,400italic,700,700italic","Ubuntu:300,300italic,400,400italic,500,500italic,700,700italic","Roboto:300,regular,500","Roboto Condensed:300,regular,700","Roboto Slab:300,regular,700","Arbutus Slab:regular","Ubuntu Mono:regular,italic,700,700italic","Ubuntu Condensed:regular:latin-ext,latin","PT Sans Caption:regular,700"]
      }
    });
  </script>
  

  <script type="text/javascript" src="/assets/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/summary.js"></script>
  
  
</head>
<body>
  <div class="w-section section custom" id="top">
    <div class="w-nav navigation" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
      <div class="w-container navigation-container">
        <div class="w-nav navbar" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1" data-easing="linear">
          <div class="w-clearfix homepage-logo">
            <div class="logo">Roofing Made Easy.</div><img class="w-hidden-small w-hidden-tiny navlogo" src="/assets/Logo.png" width="85" height="75">
          </div>
          <div class="w-container navbar">
            <nav class="w-nav-menu w-clearfix dropmenu" role="navigation">
              <a class="w-nav-link nav-link businesses drop" href="login_portal.html">Log In</a>
              <a class="w-nav-link nav-link businesses drop" href="custom.html">Custom</a>
              <a class="w-nav-link nav-link businesses drop" href="business.html">Business</a>
              <a class="w-nav-link nav-link homeowner drop" href="our_service.html">Homeowner</a>
              <a class="w-nav-link nav-link businesses drop" href="/shop">Select Product</a>
              <a class="w-nav-link nav-link businesses drop" href="index.html">Home</a>
            </nav>
            <div class="w-nav-button">
              <div class="w-icon-nav-menu hamburger"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
	<div id="summary">
		<div class="any w-row w-col w-col-12 ">
			<div class="label">Your Estimate:  </div>
			<div class="output"><%= @contractor.add %></div>
		</div>								
		<div class="price w-col w-col-12">
			<div class="output">$<%= @contractor.price %></div>
			<div class="star">*</div>
		</div>
		<div class="w-col w-col-12 help-quote">
			<p>*We’ve calculated an estimate based on your selections. By clicking “Get Quote” we will confirm your measurements with our satellite technology and provide you with an updated quote for your job.</p>
		</div>
		<div class="select-info w-row">
			<div class="w-col w-col-4 select-row">
				<div class="label">Selected Roof Area</div>
				<div class="img"><img src="http://maps.google.com/maps/api/staticmap?size=255x255&maptype=roadmap&sensor=false&zoom=12&markers=color:pink|label:A|<%= @Lat %>, <%= @Lon%>" alt="Contractor's situation"></img></div>				
				<div class="info output"><%= @contractor.appro%>KM</div>
				<button>EDIT</button>
			</div>
			<div class="w-col w-col-4 select-row">
				<div class="label">Selected Product</div>
				<div class="img"><img src="/assets/<%= @ProductImg %>"></div>					
				<div class="brand">
					<% if @contractor.certi1 != "" && @contractor.certi1 %>
						<img src="/assets/<%= @contractor.certi1 %>">
					<% else %>
                    	<div class="certifi-img"></div>
                  <% end %>
				</div>
				<button>EDIT</button>
			</div>
			<div class="w-col w-col-4 select-row">
				<div class="label">Selected Contract</div>
				<div class="img"><img src="/assets/<%= @contractor.logo %>"></div>				
				<div class="info output"><%= @contractor.name %></div>
				<button>EDIT</button>
			</div>
		</div>
		<div class="w-col w-col-12 get-quoat">
			<div id="title">Get Quote</div>
			<div id="content"><p>In order to provide you with a final price quote, we need to validate your selected roof area using our own
			satellite measurements. Once completed, we will provide you with the detailed measurements and final
			price.</p></div>
		</div>
		<div id="email-submit" class="w-row">
			<div id="email-area" class="w-col w-col-8 w-row">
				<div class="label w-col w-col-6">Enter your email address : </div>
				<div class="w-col w-col-6 output"><input id="email"></div>
			</div>
			<div id="timmer" class="w-col w-col-2">
				<span id="future_date"><span><span id="hms_timer"></span></span></span>
			</div>
			<div class="submit w-col w-col-2"><button onclick="email_check();">Get Quote</button></div>
		</div>
	</div>
	
<div class="w-section section footer">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6">
          <div class="logo footerlogo">Roofing Made Easy.</div>
          <div class="findus">Enter your postal/zip code and we will be in your area within 30 days.</div>
          <div class="w-form newsletter-form">
            <form class="w-clearfix" id="wf-form-newsletter" name="wf-form-newsletter" data-name="Newsletter">
              <input class="w-input newsletter-field" id="postal-zip-code-2" type="text" placeholder="Enter postal/zip code" name="postal-zip-code-2" data-name="Postal Zip Code 2" required="required">
              <input class="w-button newsletter-button" type="submit" value="Submit" data-wait="Sent" wait="Sent">
            </form>
            <div class="w-form-done success-message">
              <p>Thank you! You’ll receive an email shortly.</p>
            </div>
            <div class="w-form-fail">
              <p>Oops! Something went wrong while submitting the form :(</p>
            </div>
          </div>
          <div class="social-icon-group">
            <a class="w-inline-block social-icon" href="#"><img src="/assets/facebook-icon.svg">
            </a>
            <a class="w-inline-block social-icon" href="#"><img src="/assets/twitter-icon.svg">
            </a>
            <a class="w-inline-block social-icon" href="#"><img src="/assets/linkdin-icon-white.svg">
            </a>
            <a class="w-inline-block social-icon" href="#"><img src="/assets/email-icon-white.svg">
            </a>
          </div>
        </div>
        <div class="w-col w-col-2">
          <h4 class="footer-title">Homeowner</h4><a class="page-link in-footer" href="our_service.html">Our Service</a><a class="page-link in-footer" href="customer_information.html">Get a Quote</a><a class="page-link in-footer" href="file_complaint.html">File Complaint</a>
        </div>
        <div class="w-col w-col-2">
          <h4 class="footer-title">Business</h4><a class="page-link in-footer" href="business.html">Information</a><a class="page-link in-footer" href="register.html">Register</a><a class="page-link in-footer" href="availablity_calendar.html">Availability</a><a class="page-link in-footer" href="forms_submissions_home.html">Forms&nbsp;</a>
        </div>
        <div class="w-col w-col-2">
          <h4 class="footer-title">Contact us</h4><a class="page-link in-footer" href="contact_us.html">Get In Touch</a>
        </div>
      </div>
    </div>
  </div>
  
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
	<script type="text/javascript" src="/assets/jquery.timmer.js"></script>
	<script type="text/javascript">
		var currentTime = new Date();
	var hours = currentTime.getHours();
	var minutes = currentTime.getMinutes();
	var second = currentTime.getSeconds();
	$("#hms_timer").countdowntimer({
				currentTime : true,
                hours : hours,
				minutes : minutes,
                seconds : second,
                size : "md-Medium",
                borderColor : "white",
                backgroundColor : "white",
                fontColor : "#fa3305"
	});
	</script>
</html>
