<% if @materials.present? %>
    <h4 class='taxonomy-root'><%= Spree.t(:shop_by_material) %> </h4>
    <% @materials.each do |item| %>
        <a href="#" class="list-group-item"><%=item.name%></a>
    <% end %>

<% else %>
<% end %>

<% if @colors.present? %>
    <h4 class='taxonomy-root'><%= Spree.t(:shop_by_color) %> </h4>
    <div class="list-group">
      <% @colors.each do |item| %>
          <!--<a href="#" class="list-group-item"><input type="checkbox" aria-label="..."><%=item.name%></a>-->
          <a href="#" class="list-group-item"><%=item.name%></a>
      <% end %>

<% else %>
<% end %>



<% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>

<nav id="taxonomies" class="sidebar-item" data-hook>
  <% @taxonomies.each do |taxonomy| %>
    <% cache [I18n.locale, taxonomy, max_level, @taxon] do %>
      <h4 class='taxonomy-root'><%= Spree.t(:shop_by_taxonomy, :taxonomy => taxonomy.name) %></h4>
      <%= taxons_tree(taxonomy.root, @taxon, max_level) %>
    <% end %>
  <% end %>
</nav>

