<%= form_tag(shops_ajax_path, method: "get", id:"form_filters", remote:true) do %>
    <% if @taxonomies.present? %>
       <% @taxonomies.each do |taxonomy| %>
           <h4 class='taxonomy-root'><%= Spree.t(:shop_by_taxonomy, :taxonomy => taxonomy.name) %></h4>
            <%= taxons_tree_with_filters(taxonomy) %>
       <% end %>
     <% else %>
        <h4><%=Spree.t(:no_taxonomies)%></h4>
    <% end %>
    <br/>
    <div class="row">
      <div class="col-md-12">
        <%= submit_tag(Spree.t(:btn_submit), remote:true, id:"btnFilter", class:"btn btn-default btn-group-justified", width:"100%") %>
      </div>
    </div>
    <br/>
<% end %>
