<% content_for :lsidebar do %>
    <div data-hook="homepage_sidebar_navigation">
      <%= render :partial => 'spree/shared/taxonomies' %>
    </div>
<% end %>

<div data-hook="homepage_products">

  <%= render :partial => 'spree/products/product_details' %>

  <%= render :partial => 'spree/products/products', :locals => {:products => @products} %>
</div>


<% content_for :rsidebar do %>
    <div class="row">
      <%= render :partial => 'spree/shared/search_by_sku' %>

      <%= render :partial => 'spree/products/product_selected' %>

      <%= render :partial => 'spree/products/products_liked' %>
    </div>
<% end %>